version: '3.8'

services:

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: flaskdb
    ports:
      - "3307:3306"

  flask:
    build: ./app
    ports:
      - "5001:5001"
    depends_on:
      - mysql
